# Data cleaning for 'enfants' dataset

This notebook reads the raw CSV exported from a form, cleans column names and values,
normalizes text (removes accents), and maps inconsistent entries to canonical values.
The comments below explain each step in plain English.

In [ ]:
# Import required libraries:
# - pandas: data manipulation and I/O
# - unidecode: remove accents and normalize unicode characters to ASCII
import pandas as pd
import unidecode
import re

# Read the raw CSV file
df = pd.read_csv(r"../data/enfants_dirty.csv")

df.head()

,start,end,Nom,Prenom,Sexe,Age,Niveau,Taille T-shirts,Eglise,Contact_Parent,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2025-11-28T10:02:00.000-00:00,2025-11-28T10:03:51.000-00:00,Koffi,Hermann,Garçon,10,"""""",L,Miséricorde,+225 971065484,...,617844653,c539d0cd-3e9b-4376-affd-528f42cff7a7,2025-11-28 10:02:01,"""""","""""",submitted_via_web,"""""",fMAmF1YjdSML2Pnh8NNrfv,"""""",1
1,2025-11-28T10:06:00.000-00:00,2025-11-28T10:07:53.000-00:00,GBAGBO,jean,Garçon,8,2,M,Beugre village,693547701,...,617480667,dfe99653-7d12-40a4-80bc-10a817044c8a,2025-11-28 10:06:01,"""""","""""",submitted_via_web,"""""",cg9JcblqkBd0fdC8FGJRae,"""""",2
2,2025-11-28T10:06:00.000-00:00,2025-11-28T10:07:22.000-00:00,diabate,mamadou,Garçon,5,1,S,Beugre village,+225 494415863,...,617341110,7733fb56-5c18-4116-a9fb-3fd05fb7becc,2025-11-28 10:06:01,"""""","""""",submitted_via_web,"""""",OxSKh3NLYb3dkkGraWLRmD,"""""",3
3,2025-11-28T10:14:00.000-00:00,2025-11-28T10:15:32.000-00:00,Bakayoko,franck,Garçon,14,4,XL,akouedo,0428142650,...,617331142,3d152038-798a-4ea5-8427-6fe88c9d3137,2025-11-28 10:14:01,"""""","""""",submitted_via_web,"""""",uaMvDKQU3I8uOghRQC7UPF,"""""",4
4,2025-11-28T10:16:00.000-00:00,2025-11-28T10:18:26.000-00:00,silue,akissi,Fille,9,"""""",L,MISÉRICORDE,0669631298,...,617373489,2ee1d263-48f8-4fbd-8dbc-d0950475b228,2025-11-28 10:16:01,"""""","""""",submitted_via_web,"""""",5gBnuYSNMjUA9m9j1MoPLn,"""""",5

## Remove unwanted metadata columns and rename columns

The original form export includes many technical columns (start, end, \_id, etc.).
We drop these to keep only the relevant survey fields and then rename the columns.

In [ ]:
# Drop technical columns
df = df.drop(
    [
        "start",
        "end",
        "_id",
        "_uuid",
        "_submission_time",
        "_validation_status",
        "_notes",
        "_status",
        "_submitted_by",
        "__version__",
        "_tags",
        "_index",
    ],
    axis=1,
)

# Define new column names
nouveaux_noms = {
    "Nom": "nom",
    "Prenom": "prenoms",
    "Sexe": "gender",
    "Age": "age",
    "Niveau": "niveau",
    "Taille T-shirts": "taille_tshirt",
    "Eglise": "eglise",
    "Contact_Parent": "contact_parent",
    "Allergies_Maladies": "allergie_maladie",
}

df = df.rename(columns=nouveaux_noms)

df.head()

,nom,prenoms,gender,age,niveau,taille_tshirt,eglise,contact_parent,allergie_maladie
0,Koffi,Hermann,Garçon,10,"""""",L,Miséricorde,+225 971065484,Aucune
1,GBAGBO,jean,Garçon,8,2,M,Beugre village,693547701,Asthme
2,diabate,mamadou,Garçon,5,1,S,Beugre village,+225 494415863,aucune
3,Bakayoko,franck,Garçon,14,4,XL,akouedo,0428142650,aucune
4,silue,akissi,Fille,9,"""""",L,MISÉRICORDE,0669631298,Aucune

## Inspect unique values for problematic columns

Look at messy columns before cleaning.

In [ ]:
print(df["eglise"].unique())
print("=" * 50)
print(df["allergie_maladie"].unique())
print("=" * 50)
print(df["taille_tshirt"].unique())
print("=" * 50)
print(df["niveau"].unique())
print("=" * 50)
print(df["gender"].unique())

['Miséricorde' 'Beugre village' 'Akouedo' 'Bethesda' 'Vridi' 'Marchou'
 'Abobo Gare']
==================================================
['Aucune' 'Asthme' 'Allergie à la poussière' 'Sinusite'
 'Allergie alimentaire']
==================================================
['L' 'M' 'S' 'XL']
==================================================
['3' '2' '1' '4']
==================================================
['Garçon' 'Fille']

## Normalization functions

Functions to clean: eglise, allergie, niveau.

In [ ]:
def normaliser_eglise(x):
    x = str(x).strip().lower()
    x = unidecode.unidecode(x)

    mapping = {
        "misericorde": "Miséricorde",
        "beugre village": "Beugre village",
        "akouedo": "Akouedo",
        "bethesda": "Bethesda",
        "vridi": "Vridi",
        "marchou": "Marchou",
        "abobo gare": "Abobo Gare",
    }

    return mapping.get(x, x)


df["eglise"] = df["eglise"].apply(normaliser_eglise)
print(sorted(df["eglise"].unique()))
print("=" * 50)


def normaliser_allergie(x):
    if pd.isna(x):
        return None
    x = str(x).strip().lower()
    x = unidecode.unidecode(x)

    if x in ["", '""', "aucune"]:
        return "Aucune"

    mapping = {
        "asthme": "Asthme",
        "sinusite": "Sinusite",
        "poussiere": "Allergie à la poussière",
        "allergie a la poussiere": "Allergie à la poussière",
        "allergie poussiere": "Allergie à la poussière",
        "allergie alimentaire": "Allergie alimentaire",
    }

    return mapping.get(x, x)


df["allergie_maladie"] = df["allergie_maladie"].apply(normaliser_allergie)
print(sorted(df["allergie_maladie"].unique()))
print("=" * 50)


def calculer_niveau(age):
    try:
        age = int(age)
    except:
        return None

    if 4 <= age <= 7:
        return "1"
    elif 8 <= age <= 9:
        return "2"
    elif 10 <= age <= 12:
        return "3"
    elif 13 <= age <= 19:
        return "4"
    return None


def nettoyer_niveau(x):
    x = str(x).strip()
    if x in ["", '""', "nan"]:
        return None
    return x


df["niveau"] = df["niveau"].apply(nettoyer_niveau)
df["niveau"] = df.apply(
    lambda row: (
        row["niveau"] if pd.notna(row["niveau"]) else calculer_niveau(row["age"])
    ),
    axis=1,
)

print(df["niveau"].unique())


gender_map = {"Garçon": "M", "Fille": "F"}
df["gender"] = df["gender"].map(gender_map)
print(df["gender"].unique())

['Abobo Gare', 'Akouedo', 'Bethesda', 'Beugre village', 'Marchou', 'Miséricorde', 'Vridi']
==================================================
['Allergie alimentaire', 'Allergie à la poussière', 'Asthme', 'Aucune', 'Sinusite']
==================================================
['3' '2' '1' '4']

## Standardize personal names

In [ ]:
df["nom"] = df["nom"].apply(lambda x: unidecode.unidecode(str(x).strip().title()))
df["prenoms"] = df["prenoms"].apply(
    lambda x: unidecode.unidecode(str(x).strip().title())
)

df.head()

,nom,prenoms,gender,age,niveau,taille_tshirt,eglise,contact_parent,allergie_maladie
0,Koffi,Hermann,Garçon,10,3,L,Miséricorde,+225 971065484,Aucune
1,Gbagbo,Jean,Garçon,8,2,M,Beugre village,693547701,Asthme
2,Diabate,Mamadou,Garçon,5,1,S,Beugre village,+225 494415863,Aucune
3,Bakayoko,Franck,Garçon,14,4,XL,Akouedo,0428142650,Aucune
4,Silue,Akissi,Fille,9,2,L,Miséricorde,0669631298,Aucune

## Clean contact information

Trim whitespace from contact numbers and then apply a normalization function to produce
an international-format phone number (Ivorian country code +225) with a consistent spacing.

In [ ]:
df["contact_parent"] = df["contact_parent"].apply(lambda x: str(x).strip())
df.head()

,nom,prenoms,gender,age,niveau,taille_tshirt,eglise,contact_parent,allergie_maladie
0,Koffi,Hermann,Garçon,10,3,L,Miséricorde,+225 971065484,Aucune
1,Gbagbo,Jean,Garçon,8,2,M,Beugre village,693547701,Asthme
2,Diabate,Mamadou,Garçon,5,1,S,Beugre village,+225 494415863,Aucune
3,Bakayoko,Franck,Garçon,14,4,XL,Akouedo,0428142650,Aucune
4,Silue,Akissi,Fille,9,2,L,Miséricorde,0669631298,Aucune

### Normalize phone numbers

Define a function that removes non-digit characters, ensures the number includes the
country code '225', and formats it as '+225 ########'. This handles common local
variants like starting with '0', with or without '225', or leading zeros.

In [ ]:
def normaliser_contact(num):
    if pd.isna(num):
        return None
    num = re.sub(r"\D", "", str(num))
    if num.startswith("2250"):
        num = num[1:]
    elif num.startswith("0"):
        num = num[1:]
    elif num.startswith("225"):
        num = num
    if not num.startswith("225"):
        num = "225" + num
    num = "+225 " + num[-8:]

    return num


df["contact_parent"] = df["contact_parent"].apply(normaliser_contact)
df.head()

array(['+225 71065484', '+225 93547701', '+225 94415863', '+225 28142650',
       '+225 69631298', '+225 89759269', '+225 93324747', '+225 09882785',
       '+225 35428115', '+225 93810769', '+225 64675978', '+225 51148237',
       '+225 46837876', '+225 77498719', '+225 75504553', '+225 93702026',
       '+225 93330930', '+225 81978366', '+225 75491188', '+225 99732748',
       '+225 56001662', '+225 60914492', '+225 13644702', '+225 43490038',
       '+225 34882891', '+225 19888096', '+225 46841658', '+225 90428563',
       '+225 68063463', '+225 22472985', '+225 77544555', '+225 76069055',
       '+225 07732719', '+225 49821523', '+225 17701262', '+225 87230704',
       '+225 28279735', '+225 46831037', '+225 58125683', '+225 83458413',
       '+225 41299476', '+225 63430221', '+225 58771435', '+225 74751121',
       '+225 06991404', '+225 21350447', '+225 98667225', '+225 39141715',
       '+225 84307053', '+225 21254032', '+225 72478165', '+225 41586360',
       '+225 12894707', '+225 52208541', '+225 16801420', '+225 57313316',
       '+225 19607163', '+225 97492687', '+225 00446850', '+225 98067098',
       '+225 98062600', '+225 37922518', '+225 79937930', '+225 73409410',
       '+225 38943436', '+225 09891334', '+225 36459309', '+225 00078584',
       '+225 74090419', '+225 02633727', '+225 51460995', '+225 79746639',
       '+225 92221115', '+225 33206051', '+225 43534616', '+225 87326583',
       '+225 22440727', '+225 69361336', '+225 00475410', '+225 91948736',
       '+225 67059786', '+225 45003051', '+225 41272987', '+225 63186692',
       '+225 76839348', '+225 48546672', '+225 71279475', '+225 01682244',
       '+225 38310467', '+225 75831854', '+225 66964455', '+225 13994665',
       '+225 13321800', '+225 57129316', '+225 41071095', '+225 68714565',
       '+225 60607679', '+225 29097063', '+225 84263124', '+225 39509441',
       '+225 24577226', '+225 14249086', '+225 30606256', '+225 69857037',
       '+225 36561905', '+225 57418582', '+225 39978556', '+225 87536111',
       '+225 07458465', '+225 15192339', '+225 80378153', '+225 05963996',
       '+225 39949733', '+225 27981562', '+225 86203334', '+225 66584744',
       '+225 57803021', '+225 73499918', '+225 68250068', '+225 97491179',
       '+225 83275415', '+225 96429169', '+225 75943789', '+225 73983532',
       '+225 88447102', '+225 69771030', '+225 12594165', '+225 70311815',
       '+225 54808890', '+225 40309543', '+225 16458884', '+225 27600602',
       '+225 33105767', '+225 39091865', '+225 23546166', '+225 54328344',
       '+225 46248220', '+225 23109084', '+225 60444639', '+225 71704011',
       '+225 58347214', '+225 06873655', '+225 37016260', '+225 37285255',
       '+225 77438450', '+225 84808951', '+225 76833679', '+225 95871592',
       '+225 65590349', '+225 84444059', '+225 17863365', '+225 27268305',
       '+225 26590310', '+225 46940927', '+225 48033143', '+225 83362065',
       '+225 74061953', '+225 34017987', '+225 29314041', '+225 98120901',
       '+225 74708648', '+225 83246000', '+225 26884785', '+225 72972182',
       '+225 09914889', '+225 40505755', '+225 38222768', '+225 34419797',
       '+225 74982900', '+225 79471224', '+225 78691470', '+225 17290869',
       '+225 84411019', '+225 77486484', '+225 65327334', '+225 42034400',
       '+225 23320312', '+225 91055985', '+225 13006140', '+225 46861210',
       '+225 62497985', '+225 70666415', '+225 53623795', '+225 07115197',
       '+225 61334716', '+225 45059822', '+225 22863650', '+225 90589796',
       '+225 56863247', '+225 81647909', '+225 46091032', '+225 91516904',
       '+225 33907241', '+225 53711211', '+225 08243004', '+225 12320747',
       '+225 68053223', '+225 73406951', '+225 25779229', '+225 61435066',
       '+225 15582996', '+225 73501397', '+225 09905687', '+225 80612400',
       '+225 26187718', '+225 75936527', '+225 62442084', '+225 27245547',
       '+225 84541997', '+225 31170587', '+225 13485530', '+225 77186551',
       '+225 18937549', '+225 21055047', '+225 58990776', '+225 16652185',
       '+225 49102225', '+225 59994490', '+225 24959157', '+225 70194288',
       '+225 66734970', '+225 73121328', '+225 54080723', '+225 65219210',
       '+225 46564606', '+225 48322855', '+225 64504140', '+225 95816135',
       '+225 06640973', '+225 36823269', '+225 51974102', '+225 10660523',
       '+225 14637168', '+225 21953975', '+225 50039740', '+225 39749834',
       '+225 16115541', '+225 46558903', '+225 98051621', '+225 21696317',
       '+225 77052142', '+225 20798565', '+225 83023623', '+225 29943453',
       '+225 18369002', '+225 46923705', '+225 06336083', '+225 95544823',
       '+225 70765971', '+225 63215356', '+225 66355235', '+225 21579521',
       '+225 99019996', '+225 35139811', '+225 27167312', '+225 43247692',
       '+225 36622027', '+225 86251270', '+225 95749141', '+225 39471945',
       '+225 98186092', '+225 92704202', '+225 75915214', '+225 41488343',
       '+225 36548362', '+225 57759533', '+225 59523222', '+225 01658243',
       '+225 27804276', '+225 66609437', '+225 76521981', '+225 43770509',
       '+225 82847865', '+225 80820651', '+225 85989014', '+225 94485204',
       '+225 64904337', '+225 65807544', '+225 84378941', '+225 77934770',
       '+225 39081621', '+225 74976827', '+225 04705094', '+225 76067462',
       '+225 90540903', '+225 47379090', '+225 29649178', '+225 13321703',
       '+225 17028343', '+225 03586096', '+225 88723908', '+225 44737343',
       '+225 65185617', '+225 44463709', '+225 72436111', '+225 63748300',
       '+225 76912242', '+225 24054810', '+225 75769996', '+225 74366036',
       '+225 60526920', '+225 75850601', '+225 02765875', '+225 91773662',
       '+225 92948156', '+225 23401062', '+225 90313353', '+225 12344010',
       '+225 12970324', '+225 25834124', '+225 15220896', '+225 55756412',
       '+225 21375748', '+225 73162446', '+225 49949963', '+225 46613883',
       '+225 49735218', '+225 08927658', '+225 24438747', '+225 71385544',
       '+225 34028042', '+225 64053459', '+225 79279351', '+225 05219747',
       '+225 55905088', '+225 18210014', '+225 22955306', '+225 44027797',
       '+225 90092328', '+225 83224983', '+225 20925057', '+225 87185799',
       '+225 90063374', '+225 92759137', '+225 97009943', '+225 95967752',
       '+225 67938067', '+225 70338821', '+225 26480175', '+225 82882132',
       '+225 35502208', '+225 84134860', '+225 02680803', '+225 27658316',
       '+225 49760338', '+225 72401034', '+225 18749219', '+225 52866996',
       '+225 22430502', '+225 39012340', '+225 00276080', '+225 10056886',
       '+225 83653363', '+225 68249342', '+225 61065709', '+225 47013138',
       '+225 93360597', '+225 89768288', '+225 25848668', '+225 09384845',
       '+225 14791919', '+225 53315507', '+225 60564989', '+225 46531612',
       '+225 08475128', '+225 75139564', '+225 90178360', '+225 73381324',
       '+225 33960954', '+225 69118559', '+225 64448157', '+225 74277071',
       '+225 08404586', '+225 84604609', '+225 97932785', '+225 23209166',
       '+225 81018528', '+225 08042698', '+225 43908327', '+225 02578487',
       '+225 73172063', '+225 82374432', '+225 50682131', '+225 59900340',
       '+225 73053802', '+225 62351032', '+225 96985894', '+225 20023214',
       '+225 40450709', '+225 21968990', '+225 74522463', '+225 12693267',
       '+225 65792615', '+225 85855368', '+225 70294504', '+225 97553920',
       '+225 33620640', '+225 42211882', '+225 47000292', '+225 97873392',
       '+225 72091104', '+225 71506512', '+225 25432574', '+225 76843783',
       '+225 89300343', '+225 01667789', '+225 86343803', '+225 87115135',
       '+225 82346677', '+225 66486246', '+225 91832715', '+225 64098163',
       '+225 01698243', '+225 77113231', '+225 95418621', '+225 97520378',
       '+225 90013185', '+225 47957310', '+225 70875377', '+225 38350214',
       '+225 05991517', '+225 11198702', '+225 44296631', '+225 70135961',
       '+225 86280538', '+225 41783394', '+225 38242521', '+225 28085957',
       '+225 34688782', '+225 61830006', '+225 49293891', '+225 51709695',
       '+225 97081088', '+225 76602716', '+225 80496994', '+225 81725391',
       '+225 80913745', '+225 53024449', '+225 30955812', '+225 94860574',
       '+225 22592917', '+225 55586755', '+225 18083763', '+225 91827387',
       '+225 68725644', '+225 22032788', '+225 25823691', '+225 06728611',
       '+225 31386480', '+225 94999218', '+225 67080411', '+225 34383875',
       '+225 19580500', '+225 67320098', '+225 31235648', '+225 91947353',
       '+225 25338958', '+225 11791732', '+225 53915333', '+225 43736038',
       '+225 31154213', '+225 54810927', '+225 38197983', '+225 42225594',
       '+225 02873227', '+225 47973618', '+225 36342626', '+225 68831508',
       '+225 47861343', '+225 57200930', '+225 85702230', '+225 12698947',
       '+225 00289004', '+225 05329935', '+225 59747788', '+225 10005703',
       '+225 18824066', '+225 65930072', '+225 23458020', '+225 96447260',
       '+225 69575379', '+225 96016556', '+225 89285078', '+225 43046556',
       '+225 92415274', '+225 72826147', '+225 05021277', '+225 06892859',
       '+225 01180969', '+225 14846537', '+225 29543267', '+225 88510214',
       '+225 83991915', '+225 22302030', '+225 49439128', '+225 09259327',
       '+225 72392791', '+225 20447036', '+225 91913576', '+225 83141530'],
      dtype=object)

## Save cleaned CSV

Write the cleaned dataframe to a new CSV file under `data/enfants_clean.csv`.
Index is included here; set index=False if you don't want the DataFrame index as a column.

In [ ]:
df.to_csv("../data/enfants_clean.csv", index=True)